.infoDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .location{
    text-align: left;
  }
  .location h2{
    line-height: 25px;
    font-size: 20px;
  }
  .location p{
    height: 20px;
    font-size: 16px;
    margin-top: 7px;
  }
  .rating{
    text-align: left;
    display: flex;
    gap: 5px;
  }
  
  .rating p{
    height: 20px;
    justify-content: center;
    display: flex;
  }
  .star{
    padding-top: 0px;
  }
  .control-dots, .carousel-status{
    background: transparent;
  }
  
  .carouselImg{
    width: 303px;
    height: 287px;
  }
  
  .carousel .thumb{
    display: none !important;
  }
  
  .cards-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .singleCard{
    width: 303px;
    cursor: pointer;
  }

  .p2{
    color: #B2BEB5;
  }

  .pmain{
    font-size: 18px !important;
  }