:root {
  --black: black;
  --hr: #dddddd;
}
* {
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 14px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.menuIcon {
  cursor: pointer;
  color: var(--black);
  width: 24px;
  height: 20px;
}
.pages {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  border-radius: 16px;
  text-align: left;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 4rem;
  margin-top: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.pages ul li {
  text-decoration: none;
  list-style: none;
  padding: 0.25rem 0;
  cursor: pointer;

}
.pages ul li :hover{
  color: var(--headerBlue);
}

.pages ul li button {
  font-size: 14px;
  font: Roboto;
}
.login {
  margin-bottom: 0.5rem;
}
.hr {
  border-top: 1px solid var(--hr);
  width: 70%;
  position: absolute;
}
.postHouse {
  margin-top: 0.5rem;
  margin-left: 0;
  font-size: 8px;
}

.profileimg{
  display: none;
  height: 35px;
  width: 35px;
  border-radius: 30px;
}

.hamburger{
  height: 24px;
  width: 24px;
}