:root {
  --black: black;
  --headerBlue: #bcbeff;
  --darkerblue: #575dfb;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #f8f7f7;
  width: 100%;
  background-color: white;
  

}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  width: 99%;
  margin-top: 5px;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  font-weight: 590px;
  font: SF Pro;
  font-size: 15px;
}


.link2 a{
  width: 100%;
  padding: 0 25px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  color: #717171;

}
.link2 :hover{
  background-color: var(--headerBlue);
  color: black;

  
}
.profileDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  padding: 10px 10px;
}
.post {
  display: none;
  border-radius: 3rem;
  padding: 1rem 0.7rem;
}
.post:hover {
  background-color: var(--headerBlue);
  color: var(--white);
}
.profileDiv .post a {
  text-decoration: none;
  background: transparent;
  color: var(--black);
  font-weight: 590px;
  font-size: 14px;
}
.profileDiv .language {
  width: 20px;
  height: 20px;
  padding: 0.7rem 0.7rem;
  border-radius: 40px;
  font-weight: 400px;
  cursor: pointer;
}

.languge1{
  background-color: transparent;

}

.language:hover{
  background-color: var(--headerBlue);
}
.profileDiv .profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  border: 0.5px solid #717171;;
  padding: 5px;
}
.profile:hover{
  cursor: pointer;
}
.dropDown {
  background: transparent;
  width: 14px;
}
.user {
  background: transparent;
  font-size: 18px;
}

.nav-links2 {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 60px;
  max-width: 70vw;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 1px solid var(--headerBlue);
  border-radius: 38px;
  padding: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
.nav-links2 a {
  text-decoration: none;
  color: var(--black);
  font-size: 15px;
  font-weight: 700px;
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link3 {
  border-left: 1px solid var(--headerBlue);
  border-right: 1px solid var(--headerBlue);
  padding: 0 35px;
  height: 120%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.link3 a{
  background-color: transparent;
}

.link3:hover{
  height: 230%;

  border-radius: 38px;
  background-color: var(--headerBlue);
}

.link4{
  height: 230%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  cursor: pointer;
}
.link4:hover{
  background-color: var(--headerBlue);
  font-size: var(--black);
}
.link4 a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 350px;
  font-family: Roboto;
  color: #5e5e5e;
  width: 70%;
  background-color: transparent;

}
.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkerblue);
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.searchbtn {
  background: transparent;
  color: var(--white);
  width: 24px;
  height: 24px;
}
.profileimg{
  border-radius: 30px;
}

.join{
  display: flex;
  height: 230%;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  border-radius: 38px;
  cursor: pointer;
  padding: 0.01rem;
  padding-left: 1rem;
  padding-right: 5px;
  
}
.link4i{
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
  font-weight: 350px;
  font-family: Roboto;
  color: #5e5e5e;
  width: 70%;
}

.join:hover{
  background-color: var(--headerBlue);
  font-size: var(--black);
}

.favDiv{
  cursor: pointer;
  position: absolute;
  z-index: 30;
  background-color: transparent;
  margin-left: 270px;
  margin-top: 10px;
}