#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: white;
  color: black;
  font-family: "Roboto" sans-serif;
}


.favourite{
  cursor: pointer;
}

.switch{
  display: none;
}
/* 
.cards-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  gap: 1rem;
} */
.LikeButtons{
  /* position: absolute; */
  margin-top: 40px;
  display: none;
}