@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
:root {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: medium;
}

/* Style the scrollbar with Tailwind CSS */
/* Total scrollbar width */
::-webkit-scrollbar {
    @apply w-2;
}

/* Background of the scrollbar except the handle */
::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    @apply bg-[#1f2147] rounded-full transition duration-300 ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
}

/* For Firefox */
html, body {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
  }